<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>BYTEME Studio - Leaderboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../static/website/assets/css/main.css" />
	</head>
	<body class="subpage">

        <!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">BYTEME Studio Online</a></div>
				<a href="#menu">Menu</a>
			</header>

        <!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/charts">Leaderboard & Graphs</a></li>
				</ul>
			</nav>

        <!-- Main -->
            <div id="main">
                <section class="wrapper">
                    <div class="inner">
                        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

                        <form method="post">{% csrf_token %}
                            <fieldset class="module aligned">
                                <div class="form-row field-email">
                                    {{ form.email.errors }}
                                    <label for="id_email">Email address:</label>
                                    <div style="width: 25%">{{ form.email }}</div>
                                </div>
                                <br />
                                <input type="submit" value="Reset my password" />
                            </fieldset>
                        </form>
                    </div>
                </section>
            </div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-google"><span class="label">Google</span></a></li>
						<li><a href="#" class="icon fa-html5"><span class="label">Html5</span></a></li>
					</ul>
					<p>&copy; BYTEME Studios. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>

        <script src="../../static/website/assets/js/jquery.min.js"></script>
        <script src="../../static/website/assets/js/jquery.scrolly.min.js"></script>
        <script src="../../static/website/assets/js/jquery.scrollex.min.js"></script>
        <script src="../../static/website/assets/js/skel.min.js"></script>
        <script src="../../static/website/assets/js/util.js"></script>
        <script src="../../static/website/assets/js/main.js"></script>

    </body>
</html>