<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>BYTEME Studio - Leaderboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../static/website/assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">BYTEME Studio Online</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/charts">Leaderboard & Graphs</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper">
						<div class="inner">
							<header class="align-center">
								<h1>Leaderboard</h1>
								<p>Leaderboard and Graphs From Each Player's Save Data!</p>
							</header>
							<div class="align-center">
                                <table>
                                <tr>
                                    <th>Name</th>
                                    <th># Items Found</th>
                                    <th>Attack</th>
                                    <th>Defense</th>
                                    <th>Speed</th>
                                    <th>Health</th>
                                    <th>Max Health</th>
                                    <th>Next Level</th>
                                    <th>Time</th>
                                </tr>
                                    {% for save in leaderboard %}
                                        <tr>
                                            {% for attr in save %}
                                                <td>{{ attr }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Graphs and Charts</h2>
							</header>
                            <div class="col align-center">
							<div class="flex flex-2">
								<div class="col align-center">
									{{ bar_chart.as_html }}
									<p>A bar chart of average time played (x-axis) to reach each level (y-axis).</p>
								</div>
								<div class="col align-center">
									{{ line_chart.as_html }}
									<p>A scatter plot of time played (x-axis) vs level achieved (y-axis).</p>
								</div>
                            </div>
								<div class="col align-center">
                                    <div style="width: 75%; padding-left: 30%">
                                        {{ pie_chart.as_html }}
									    <p>A pie chart counting how many times each item has been found.</p>
                                    </div>
								</div>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-google"><span class="label">Google</span></a></li>
						<li><a href="#" class="icon fa-html5"><span class="label">Html5</span></a></li>
					</ul>
					<p>&copy; BYTEME Studios. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../../static/website/assets/js/jquery.min.js"></script>
			<script src="../../static/website/assets/js/jquery.scrolly.min.js"></script>
			<script src="../../static/website/assets/js/jquery.scrollex.min.js"></script>
			<script src="../../static/website/assets/js/skel.min.js"></script>
			<script src="../../static/website/assets/js/util.js"></script>
			<script src="../../static/website/assets/js/main.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>


	</body>
</html>