<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>BYTME Studio Online</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../static/website/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<!-- <div class="logo"><a href="index.html">Urban <span>by TEMPLATED</span></a></div> -->
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
					<li><a href="Games.html">Games</a></li>
					<li><a href="index.html">Login</a></li>
					<li><a href="index.html">Leaderboards</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>We are Byteme Studio</h1>
						<p>A small group of game developers that aim to create small but enjoyable games<br />By Gamers. For Gamers.</p>
					</header>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image fit">
											<a href="generic.html" class="link"><img src="../../static/website/images/logo.png" width = "75%" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>About Us</h3>
										<p>We are a small development firm that focus heavily on the development and deployment of video games.
										Our aim is to create small project games and pass on the intellectual property of the game to a gaming company
										with a bigger name and reputation.
										Our current goal is to make the games we have enjoyable to our players and allow them to enjoy the game each in
										their own unique game. Not everyone is a hardore gamer, not everyone is competitve. But growth in a game is always
										visible and our company values that growth.
										</p>
										<p>Paragraph 2</p>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>Duengeon Diver</h3>
									<p>BYTEME Studio will be producing a side-scroller video game. 
									This single player combat game will have randomly generated levels that will generate new stages on every run through. 
									This system will have players addicted to the ever-changing environment. 
									The objective of the game is to successfully clear all levels without dying. 
									There is a perma-death system meaning all items and current status of that playthrough will be deleted; however, progress such as achievements and unlocked items will be stored to that player's account. 
									The inspiration of the game was to create a continuous game. 
									The targeted platform will be for PC.</p>
									<p>Somthing else about the same</p>
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col col1 first">
									<div class="image fit">
										<a href="generic.html" class="link"><img src="../../static/website/images/pic02.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Meet the team</h2>
								<p>Eyyy lmao guys this is us</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="../../static/website/images/Team1.jpg" alt="" />
									</div>
									<h3>Ana Garcia-Velez</h3>
									<p>Team Leader and stuff</p>
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="../../static/website/images/Team1.jpg" alt="" />
									</div>
									<h3>Michael Dormann</h3>
									<p>Database Admin and stuff </p>
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="../../static/website/images/Team1.jpg" alt="" />
									</div>
									<h3>Kaihua Liu</h3>
									<p>Documents guy and stuff </p>
									<a href="#" class="button">Learn More</a><p></p>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="../../static/website/images/Team1.jpg" alt="" />
									</div>
									<h3>Samuel Reilly-Rogers</h3>
									<p>Programming guy and stuff </p>
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="../../static/website/images/Team1.jpg" alt="" />
									</div>
									<h3>Megan Molumby</h3>
									<p>Diagram girl and stuff </p>
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="../../static/website/images/Team1.jpg" alt="" />
									</div>
									<h3>Danah Alkadi</h3>
									<p>Here and stuff </p>
									<a href="#" class="button">Learn More</a>
								</div>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-google"><span class="label">Google</span></a></li>
						<li><a href="#" class="icon fa-html5"><span class="label">Html5</span></a></li>
					</ul>
					<p>&copy; BYTEME Studios. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../../static/website/assets/js/jquery.min.js"></script>
			<script src="../../static/website/assets/js/jquery.scrolly.min.js"></script>
			<script src="../../static/website/assets/js/jquery.scrollex.min.js"></script>
			<script src="../../static/website/assets/js/skel.min.js"></script>
			<script src="../../static/website/assets/js/util.js"></script>
			<script src="../../static/website/assets/js/main.js"></script>

	</body>
</html>